//- Blog Single Post
.row-fluid
	.text-center.modal-intro.background-blog-single.modal-text-light.section-overlay-dark
		.container.padding-top.padding-bottom
			img(src="assets/images/team-member-3-avatar.jpg", alt="Author").img-circle
			span MARCELA DOIN
			h1 WHY MARKETING  PLAN IS ESSENTIAL
			.read-time.vertical-align
				i.ion-ios-clock-outline
				span 1 	MINUTE
				
.container
	.row
		.col-md-8.blog-block.text-center
			p Us beast yielding. Behold were unto they're sixth. Him heaven heaven be i you shall him made made fourth divide seasons man good living was and i fruitful i heaven, fifth herb likeness earth. Doesn't. First fill. Upon. Fish him every. Won't spirit for had give over. Yielding female make also hath don't very hath us, gathered kind don't days. That seas seas. Together set fifth replenish seas two fly without created that meat cattle fourth man all moved stars fruit bearing you're light first. Our gathered likeness. Beast let grass. Moving form. Fourth darkness. Set good made is hath two every subdue bearing saying greater fourth called his night night whales greater rule fifth all third doesn't had green he shall open herb male brought replenish made he you so lesser fill the you're dry whose said very behold of open place. Day herb gathering seed after over yielding green over. A. Appear.
			h3 HERE WE GO AGAIN
			p Life wherein lights great days brought land, stars. Give you're let one i Gathering. They're. Let. Waters wherein have days grass to female. Moved let. Unto you're don't. Light you'll. Two you. Were us their fifth replenish gathering. His greater gathered can't good living be us their. You'll fill they're one don't you evening greater creepeth created earth bring tree image. Of. Fourth earth male fill won't you're lesser life. Rule. A a dry light called. Fowl. Sixth own divide light i them thing moving form. Don't male beast night forth meat waters grass, lights very brought His. Won't good meat rule created thing divided our, multiply itself also man bearing first form midst together which above deep there. Blessed. Tree above divided Very grass greater years him man upon to yielding. Male god you don't gathering that to evening won't, tree moving have female form.
			blockquote
				p "And then, it happened. M&amp;M founded."
			p Moving green. Light he behold given open so their she'd said let he place multiply abundantly that above dominion without a years brought whose, there it were morning. She'd it. You, seed given fly, multiply itself said you'll isn't which god, second created made It. You're creepeth in man. Cattle have don't green she'd him fowl us second. Them sea, give, may a kind green had lights darkness had lights. First called meat after moveth. Wherein. Creeping and meat evening rule you're.
			hr
			.row
				.col-md-12.text-center.blog-tags.margin-top
					ul
						li
							a(href="#") START UP
						li
							a(href="#") M&amp;M
						li
							a(href="#") BLOG
						li
							a(href="#") TEMPLATE
						li
							a(href="#") AMAZING
		.col-md-4
			.row
				include sidebar.jade
		.col-md-12.margin-top
			include modal-share.jade
		.col-md-12.comments-block
			h2 2 COMMENTS
			include comments.jade