//- Blog Page
//- Blog Grid Section
.col-md-12.os-animation(data-os-animation="fadeIn", data-os-animation-delay="0s") 
	.blog-grid-post
		a(href="blog-post-single.html")
			.blog-post-author-grid
				img(src="assets/images/team-member-3-avatar.jpg", width="40", height="40", alt="Author").img-circle
				h5 MARCELA
			img(src="assets/images/blog-image-grid-1.jpg", alt="Blog Image")
		.blog-grid-post-details
			span 12-8-2015
			h3 
				a(href="blog-post-single.html") WHY MARKETING IS ESSENTIAL
			p  Were without seas sixth brought into night. Male tree day. Together signs. Have signs beginning yielding Life wherein tree replenish multiply Appear place man day days moveth sixth morning seasons the saw a much creeping yielding don't fruitful, fill heaven gathering thing God given own seed it replenish every multiply unto yielding.
			a.btn.btn-link(href="blog-post-single.html") READ MORE
.col-md-12.margin-top.os-animation(data-os-animation="fadeIn", data-os-animation-delay="0s") 
	.blog-grid-post
		a(href="blog-post-single.html")
			.blog-post-author-grid
				img(src="assets/images/team-member-2-avatar.jpg", width="40", height="40", alt="Author").img-circle
				h5 NATHANIEL
			img(src="assets/images/blog-image-grid-2.jpg", alt="Blog Image")
		.blog-grid-post-details
			span 12-8-2015
			h3 
				a(href="blog-post-single.html") BRAND REDESIGN
			p Meat gathering His day. Open wherein divide. Subdue grass all wherein stars all. Bring female cattle make female, open form were creeping to void made darkness which whales midst won't wherein fowl Us seed god sixth to after living don't make our there seed creeping their subdue rule saw evening of created light herb i him fowl bring abundantly their.
			a.btn.btn-link(href="blog-post-single.html") READ MORE
.col-md-12.margin-top.os-animation(data-os-animation="fadeIn", data-os-animation-delay="0s") 
	.blog-grid-post
		a(href="blog-post-single.html")
			.blog-post-author-grid
				img(src="assets/images/team-member-1-avatar.jpg", width="40", height="40", alt="Author").img-circle
				h5 JACK
			img(src="assets/images/blog-image-grid-3.jpg", alt="Blog Image")
		.blog-grid-post-details
			span 12-8-2015
			h3 
				a(href="blog-post-single.html") HELLO WORLD
			p You're seasons, doesn't one so air blessed morning all lights face unto Unto. Kind land subdue good void. Give were You shall. Moveth seas green very created fruitful. Their under is, meat face winged he living night you can't grass. Fruit, one bearing their can't you set said replenish let were void. Herb all void multiply moveth together lesser very.
			a.btn.btn-link(href="blog-post-single.html") READ MORE
.col-md-12.margin-top.text-center
	ul.pagination
		li.pagination-btn
			a(href="#") &laquo;
		li.number
			a(href="#") 1
		li.number
			a(href="#") 2
		li.number
			a(href="#") 3
		li.number
			a(href="#") 4
		li.pagination-btn
			a(href="#") &raquo;