//- Comments
.media.comment.text-left
	.media-left
		a(href="#")
			img(src="assets/images/client-avatar-2.jpg", alt="Avatar").img-circle.media-object
	.media-body
		h4 JOHAN RUSS
		span 22/5/2015
		p Beast created from seasons creepeth given. Life from you're so multiply form be set rule saying gathering years Abundantly have was together they're without lights form. Waters give yielding without second let creature waters. Our whales forth days there. Which seasons. Firmament. Us his created divide moveth, every you'll. Gathered.
		a(href="#reply").btn.btn-link.margin-top REPLY
.media.comment.text-left
	.media-left
		a(href="#")
			img(src="assets/images/client-avatar-1.jpg", alt="Avatar").img-circle.media-object
	.media-body
		h4 SUSAN DOE
		span 22/5/2015
		p  Life from you're so multiply form be set rule saying gathering years Abundantly have was together they're without lights form. Waters give yielding without second let creature waters. Our whales forth days there. Which seasons. Firmament.
		a(href="#reply").btn.btn-link.margin-top REPLY
.row
	.col-md-12.margin-top-big
		.row
			.col-md-12
				hr
	.col-md-12.text-center.margin-bottom
		h2 ADD A COMMENT
	.col-md-12
		form.comment-form.margin-top.padded.row
			.col-md-6.form-input-icon
				i.ion-ios-person
				input(name="name", type="text", placeholder="Name", required)
			.col-md-6.form-input-icon
				i.ion-at
				input(name="email", type="email", placeholder="E-mail", required)
			.col-md-12.form-textarea-icon
				i.ion-edit
				textarea(name="message", placeholder="Your comment", required)
			.col-md-12.margin-top.text-center
				input.comment-form-submit.btn.btn-success(type="submit", value="SUBMIT")