//- Footer
.text-center.container
	.row
		.col-md-12
			ul.social-icons
				li
					a(href="#")
						i.ion-social-instagram
				li
					a(href="#")
						i.ion-social-twitter
				li
					a(href="#")
						i.ion-social-facebook
	.row
		.col-md-12
			p.footer-message COPYRIGHT © 2015  M &amp; M - CRAFTED WITH <i class="ion-heart"></i> BY <a href="http://andrewch.eu">ANDREW CHS</a> 
	.clear