//- Navigation List - Only the list items
li 
    a(href="index-slider.html")
        | DEMO 1
li 
    a(href="index-video.html")
        | DEMO 2
li 
    a(href="index-hamburger-menu.html")
        | DEMO 3
li 
    a(href="index-border.html")
        | DEMO 4
li 
    a(href="blog.html")
        | BLOG
li.dropdown 
    a.dropdown-toggle(data-target="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") MORE <i class="caret"></i>
    ul.dropdown-menu(role="menu")
            li 
                a.dropdown-link(href="blog.html") BLOG
            li 
                a.dropdown-link(href="blog-post-single.html") POST SINGLE
            li 
                a.dropdown-link(href="blog-post-single-sidebar.html") POST SIDEBAR 