//- Navigation List - Only the list items
li 
    a(href="#about")
        | ABOUT
li 
    a(href="#services")
        | SERVICES
li 
    a(href="#works")
        | WORKS
li 
    a(href="#team")
        | TEAM
li 
    a(href="#testimonials")
        | TESTIMONIALS
li 
    a(href="#blog")
        | BLOG
li 
    a(href="#contact")
        | CONTACT
li.dropdown
    a.expander(href="#") MORE <i class="caret"></i>
    .content
        ul
            li 
                a(href="blog.html") BLOG
            li 
                a(href="blog-post-single.html") POST
            li 
                a(href="blog-post-single-sidebar.html") POST SIDEBAR 