//- Works Filters
.row
	.col-md-12
		i.filter-icon.ion-android-more-vertical.rotated
		ul.data-filter-categories.margin-bottom.padding-bottom
			li
				a.portfolio-filter(data-filter="")
					| ALL 
			li
				a.portfolio-filter(data-filter=".filter-logo")
					| LOGO 
			li
				a.portfolio-filter(data-filter=".filter-print")
					| PRINT 
			li
				a.portfolio-filter(data-filter=".filter-web")
					| WEB 
			li
				a.portfolio-filter(data-filter=".filter-case-study")
					| CASE STUDY