//- About Section
.about-content.with-divider-thickline-small.row
	.col-md-offset-2.col-xs-12.col-md-8.padded
		.row
			.col-md-6.col-sm-12.padding-top.margin-top
				h3.os-animation(data-os-animation="fadeInUp", data-os-animation-delay="0s") THE START
				span.os-animation(data-os-animation="fadeInUp", data-os-animation-delay="0s")
				p.os-animation(data-os-animation="fadeInUp", data-os-animation-delay="0s") Fly bring the of creeping deep saying. I. Dominion called, stars all unto very is fruitful lesser earth. Created you spirit night there. Be don't replenish which, don't deep Moved god, behold midst fourth be. Yielding signs man their unto cattle fourth day creepeth greater greater spirit moving blessed stars one created without yielding together divide heaven. Female kind stars air light which, and great first deep to night it.
				a.btn-link.pull-left(href="#team").os-animation(data-os-animation="fadeInUp", data-os-animation-delay=".2s") MEET THE TEAM
			.col-md-6.col-sm-12
				img(src="assets/images/about-image-1.jpg", alt="About Image").small-screen-margin-top
	.col-md-4
		img(src="assets/images/about-image-2.jpg", alt="About Image")
	.col-md-4.margin-top.padding-top
		h3.os-animation(data-os-animation="fadeInUp", data-os-animation-delay="0s")  HOW WE MADE IT
		span.os-animation(data-os-animation="fadeInUp", data-os-animation-delay="0s") 
		p.os-animation(data-os-animation="fadeInUp", data-os-animation-delay="0s")  Firmament rule green. Also given blessed he bearing lights hath for dry, night beginning in signs unto tree made Bearing have whose forth that and for. Let first moved fish seas place the light replenish creature shall saw blessed was. Also fill movingre over upon very have called bearing all green sixth appear stars subdue creeping open. Subdue thing moving his, was place.
		ul.featured-list.text-left.os-animation(data-os-animation="fadeInUp", data-os-animation-delay="0s")
			li  Amazing company
			li  Creative People
			li  Hungry for new projects
			li  Punctual people
	.col-md-4.padding-top-huge.small-screen-no-padding
		p.os-animation(data-os-animation="fadeInUp", data-os-animation-delay=".2s")  Days us had, god set above midst bring evening greater dry. Of a bring so void under. Set won't likeness unto Firmament firmament. Night from over a face over third wherein second fish of they're over upon very have called bearing all green sixth appear stars subdue creeping open. Subdue thing moving his, was place. Sea is over have waters moveth sixth you without. Set bring without wherein face. Greater void our fruit after darkness behold rule give and you can't lights of i they're give give male rule give male be, divide seasons without waters, thing subdue fill above.
		a.btn-link.pull-left(href="#contact").os-animation(data-os-animation="fadeInUp", data-os-animation-delay=".2s")  CONTACT US