//- Team Quote Section
.absolute-top-content.text-center
	.team-member-quote-intro
		span M&amp;M
		h3 LEAD DEVELOPER QUOTE
		i.os-animation(data-os-animation="team-quote-line", data-os-animation-delay="0s")
.row
	.col-md-12
		.text-center.team-member-quote
			img(src="assets/images/team-member-3-avatar.jpg" alt="Avatar").img-circle
			p.os-animation(data-os-animation="fadeInUp", data-os-animation-delay="0s") Him she'd called fourth shall Upon the gathering set may beast don't seas great firmament she'd fish a have their creepeth place yielding. Over  that Likeness beast dominion you'll fourth is. Seed bearing moving there together replenish saying man was heaven fourth. Under. Light Upon herb. Whales said him kind blessed bearing rule. Fourth tree. Greater have fruit one bearing divided replenish male. Air whose for. That sea. Darkness. Sixth.
			i
			span.os-animation(data-os-animation="fadeInUp", data-os-animation-delay=".6s") MARCELA DOIN
				small.os-animation(data-os-animation="fadeInUp", data-os-animation-delay=".6s") on .NET Magazine