//- Testimonials Section
.owl-carousel#testimonial-slider
	.row
		.col-md-12
			blockquote
				p &#171; They're light unto two second to man fill fowl living make yielding have upon sea under fish creeping. Saying you'll fruitful whales greater you'll land fourth two to it moveth abundantly. He unto doesn't. Have may fish. Be face dry. Our morning likeness Thing beast meat place under yielding moveth divide. Forth which life cattle unto His which they're don't were form void Fourth give dominion brought can't winged good fruit created to of creeping is wherein dry make form. &#187;
				cite
					img(src="assets/images/client-avatar-2.jpg", width="70", height="70", alt="Client").img-circle
					span PAUL GRAND
						small LTS Company
	.row
		.col-md-12
			blockquote
				p &#171; They're light unto two second to man fill fowl living make yielding have upon sea under fish creeping. Saying you'll fruitful whales greater you'll land fourth two to it moveth abundantly. He unto doesn't. Have may fish. Be face dry. Our morning likeness Thing beast meat place under yielding moveth divide. Forth which life cattle unto His which they're don't were form void Fourth give dominion brought can't winged good fruit created to of creeping is wherein dry make form. &#187;
				cite
					img(src="assets/images/client-avatar-1.jpg", width="70", height="70", alt="Client").img-circle
					span JESSICA SPECTER
						small Trellautr Company
