//- Team Section
.row
	.col-md-4.col-md-offset-4.team-intro
		span
		h3 TEAM QUALIFICATIONS
		p Blessed earth have fowl itself deep third likeness yielding itself<strong> team </strong>give were. Together may make won't darkness isn't unto doesn't our i. Above be very herb also dominion. Life, is about them. Hath moved every greater saying it the, saying called isn't fowl doesn't earth creepeth without over every i land sea, moving bring second face he every divided air. From morning there, void won't and blessed fowl. Moved. The you're us.
	.col-md-12.margin-top
		.row
			.col-md-4.margin-top.os-animation(data-os-animation="fadeInUp", data-os-animation-delay="0s")
				.team-single-member
					a(href="#team-members-gallery", data-slideid="0").open-gallery-link
						img(src="assets/images/team-member-1.jpg", alt="Member")
					.team-single-member-details
						span CEO
						a(href="#team-members-gallery", data-slideid="0").open-gallery-link
							h3 JACK FUSS
						p M&amp;M's Founder and Creator
						a(href="#")
							i.ion-social-pinterest
						a(href="#")
							i.ion-social-twitter
						a(href="#")
							i.ion-social-skype
			.col-md-4.margin-top.os-animation(data-os-animation="fadeInUp", data-os-animation-delay=".2s")
				.team-single-member
					a(href="#team-members-gallery", data-slideid="1").open-gallery-link
						img(src="assets/images/team-member-2.jpg", alt="Member")
					.team-single-member-details
						span LEAD DESIGNER
						a(href="#team-members-gallery", data-slideid="1").open-gallery-link
							h3 NATHANIEL DOE
						p Firm's Designer and Crafter
						a(href="#")
							i.ion-social-dribbble
						a(href="#")
							i.ion-social-twitter
						a(href="#")
							i.ion-social-skype
			.col-md-4.margin-top.os-animation(data-os-animation="fadeInUp", data-os-animation-delay=".4s")
				.team-single-member
					a(href="#team-members-gallery", data-slideid="2").open-gallery-link
						img(src="assets/images/team-member-3.jpg", alt="Member")
					.team-single-member-details
						span DEVELOPER
						a(href="#team-members-gallery", data-slideid="2").open-gallery-link
							h3 MARCELA DOIN
						p Every project's backbone master
						a(href="#")
							i.ion-social-github
						a(href="#")
							i.ion-social-twitter
						a(href="#")
							i.ion-social-skype
#team-members-gallery.mfp-hide
	.slide(data-slideid="0")
		.row
			.col-md-12.text-center.modal-intro.background-team-member-1.modal-text-light.section-overlay-dark
				.container.padding-top.padding-bottom
					img(src="assets/images/team-member-1-avatar.jpg", alt="Member").img-circle
					span CEO
					h3 JACK FUSS
					.row
						.col-md-8.col-md-offset-2
							p Jack is the man behind every M&amp;M's move. He rules, he thinks and he dreams with his leadership abilities. He also likes coffee and dogs.
					.row
						.col-md-12
							ul
								li
									a(href="#")
										i.ion-social-twitter
								li
									a(href="#")
										i.ion-social-facebook
								li
									a(href="#")
										i.ion-social-linkedin
		.container
			.row
				.col-md-8.col-md-offset-2.about-block.text-center
					span BIOGRAPHY
					h3 EARLY YEARS
					p Days all gathered us above wherein form lesser cattle Heaven replenish seed given. Over they're fruitful behold seas years saying darkness stars after divide kind after. Made for have, the dominion moveth. Days. Second face blessed female so let, years morning i also sixth two deep fowl tree, doesn't days creeping blessed. Lesser was bring multiply image together let Sixth called hath let said Wherein unto fifth multiply fly you're cattle moving a form together waters. Whales Firmament wherein second which dominion saw appear it created form there living. Abundantly good his have grass above. Behold day were. Had gathering their creature seed fly tree over. In. All he fruitful sixth us so together itself, fruit divide night good divide one called had moveth, midst hath. Kind rule that first deep they're, face. Replenish divided. Him every divided divide yielding sea. Signs she'd they're it is day hath said divide. Give. Unto replenish the place hath great and hath darkness let fourth you're yielding night. Greater appear. Dominion so lesser him called their abundantly May dry moved. Open first night kind let air you lights. Deep, fowl and greater may. I had don't two years, void living god us Deep.
					blockquote
						p "We always make sure, that M&amp;M is the best place for your career"
					p Over they're fruitful behold seas years saying darkness stars after divide kind after. Made for have, the dominion moveth. Days. Second face blessed female so let, years morning i also sixth two deep fowl tree, doesn't days creeping blessed
					.row
						.col-md-4.margin-top.padding-top
							.icon-block
								i.ion-ios-bookmarks-outline
								h4 MULTI-AWARDED
					.row
						.col-md-4.margin-top.padding-top
							.icon-block
								i.ion-ios-time-outline
								h4 PUNCTUAL
					.row
						.col-md-4.margin-top.padding-top
							.icon-block
								i.ion-ios-lightbulb-outline
								h4 CREATIVE
				.col-md-12.text-center
					a.btn.btn-success CONTACT ME
	.slide(data-slideid="1")
		.row
			.col-md-12.text-center.modal-intro.background-team-member-2.modal-text-light.section-overlay-dark
				.container.padding-top.padding-bottom
					img(src="assets/images/team-member-2-avatar.jpg", alt="Member").img-circle
					span LEAD DESIGNER
					h3 NATHANIEL DOE
					.row
						.col-md-8.col-md-offset-2
							p Nathaniel is a passionate about colors and typography. He certainly sees the world, a little bit different from everyone else at M&amp;M. A little more vibrant, maybe?
					.row
						.col-md-12
							ul
								li
									a(href="#")
										i.ion-social-twitter
								li
									a(href="#")
										i.ion-social-dribbble
								li
									a(href="#")
										i.ion-social-pinterest
		.container
			.row
				.col-md-8.col-md-offset-2.about-block.text-center
					span BIOGRAPHY
					h3 EARLY YEARS
					p And brought evening us creeping to. Doesn't. <strong>Jack</strong> greater god days called give seas, moving. Dominion i herb. Open place dominion divide, set. Have above waters One saw meat called was good without thing forth given it. Him above saying winged, that gathered hath form hath set deep our evening life. Gathered Fifth abundantly man heaven fourth lights. Second winged every firmament female Night seas, every day <strong>Lead Designer</strong> fruit. Darkness tree. Lights evening creeping behold god in face sixth moved. Years appear have can't won't. Stars all god abundantly, saw they're bearing day him from after saw upon fruitful fish said female two. Good. Fly their let, place herb green divided great he over. Rule let, can't all male open multiply. Evening void Replenish. Us void together dominion in dominion morning set make seasons signs life all cattle morning for lights fowl set saw land subdue our seed give fowl appear place, together you and dry <strong>M&amp;M</strong> two fowl green multiply upon yielding given a heaven. Behold be signs seed moveth light creature night beast, together shall deep won't subdue. In signs so earth beast firmament may days beginning hath set. Be deep green above she'd his One let land.
					blockquote
						p "Colors are magic, I admit it"
					p Under days air living every shall yielding life. Creepeth be made brought itself Waters light. Creeping. Bring rule i green.
				.col-md-12.text-center
					a.btn.btn-success CONTACT ME
	.slide(data-slideid="2")
		.row
			.col-md-12.text-center.modal-intro.background-team-member-3.modal-text-light.section-overlay-dark
				.container.padding-top.padding-bottom
					img(src="assets/images/team-member-3-avatar.jpg", alt="Member").img-circle
					span DEVELOPER
					h3 MARCELA DOIN
					.row
						.col-md-8.col-md-offset-2
							p Marcela is a great developer with a great knowledge of all the new technologies. It is the perfect fit, to make our dream come alive.
					.row
						.col-md-12
							ul
								li
									a(href="#")
										i.ion-social-github
								li
									a(href="#")
										i.ion-social-facebook
								li
									a(href="#")
										i.ion-social-twitter
		.container
			.row
				.col-md-8.col-md-offset-2.about-block.text-center
					span BIOGRAPHY
					h3 EARLY YEARS
					p Give don't. Life in shall. Fourth forth fourth you. Creepeth moving and she'd their of the bearing own don't made whales that. <strong>Plus</strong> his. Own fowl said of. Lesser fish cattle fourth also two. Don't fly don't give every. Lights moving our Signs form won't. Without had our cattle, created grass evening the appear likeness. Light waters bring their. I, life years that bearing called moveth meat days heaven had, beginning you'll all saw made day midst. Had dry second. Moved herb isn't of abundantly lesser gathered, together lights beast bearing. Second place herb living very them you be be creepeth own void good our for one i beginning creeping man life rule heaven have signs our place. Moving green. Light he behold given open so their she'd said let he place multiply abundantly that above dominion without a years brought whose, there it were <strong>Marcela</strong>. She'd it. You, seed given fly, multiply itself said you'll isn't which god, second created made It. You're creepeth in man. Cattle have don't green she'd him fowl us second. Them sea, give, may a kind green had lights darkness had lights. First called meat after moveth. Wherein. Creeping and meat evening rule you're.
					blockquote
						p "Always looking for great, new and ambitious opportunities"
					p Moving green. Light he behold given open so their she'd said let he place multiply abundantly that above dominion without a years brought whose, there it were morning. She'd it. You, seed given fly, multiply itself said you'll isn't which god, second created made It. You're creepeth in man. Cattle have don't green she'd him fowl us second. Them sea, give, may a kind green had lights darkness had lights. First called meat after moveth. Wherein. Creeping and meat evening rule you're.
				.col-md-12.text-center
					a.btn.btn-success CONTACT ME