//- Services Section
.row
	.col-md-3(data-os-animation="fadeInUp", data-os-animation-delay="0s").os-animation
		.icon-block.icon-block-dark
			i.ion-ios-glasses-outline
			h3 DESIGN
			p She'd day thing shall pls very subdue their years him good waters into grass third man green stars. May under void dry so wherein. Without you're fowl midst every seas given.
	.col-md-3.small-screen-margin-top(data-os-animation="fadeInUp", data-os-animation-delay=".1s").os-animation
		.icon-block.icon-block-dark
			i.ion-ios-lightbulb-outline
			h3 MARKETING
			p Had Good there forth waters. Fruitful behold, upon, signs morning, can't. Fish. Behold after make great she'd their his gathering gathering don't, lesser.
	.col-md-3.small-screen-margin-top(data-os-animation="fadeInUp", data-os-animation-delay=".2s").os-animation
		.icon-block.icon-block-dark
			i.ion-ios-film-outline
			h3 GRAPHICS
			p Fifth spirit our into a lights. Lights tree. Seed lights which male firmament be. Bearing rule you. Upon seed unto very. That replenish darkness have darkness light his tree.
	.col-md-3.small-screen-margin-top(data-os-animation="fadeInUp", data-os-animation-delay=".3s").os-animation
		.icon-block.icon-block-dark
			i.ion-ios-pie-outline
			h3 ANALYTICS
			p A appear very seed day tree whose above into She'd divide multiply wherein fifth light heaven multiply but isn't thing from sea, heaven. Fowl they're if they don't.
	.col-md-8.col-md-offset-2.padding-top.margin-top.small-screen-margin-top
		img(src="assets/images/services-image.jpg", alt="Service Image")