//- Blog Section
.row
	.col-md-8.col-md-offset-2
		.row
			.col-md-12.blog-post-full-width.os-animation(data-os-animation="fadeInUp", data-os-animation-delay="0s")
				a(href="#blog-gallery", data-slideid="0").open-gallery-link
					img(src="assets/images/blog-image-1.jpg", alt="Author")
					.blog-post-author 
						img(src="assets/images/team-member-3-avatar.jpg", width="40", height="40", alt="Author").img-circle
						h5 MARCELA DOIN
				.row
					.col-md-10.col-md-offset-1
						.blog-post-details
							span 12 - 8 - 2015
							a(href="#blog-gallery", data-slideid="0").open-gallery-link
								h3 WHY MARKET PLAN IS ESSENTIAL
							i.vertical-line-blog
							p Were without seas sixth brought into night. Male tree day. Together signs. Have signs beginning yielding Life wherein tree replenish multiply Appear place man day days moveth sixth morning seasons the saw a much creeping yielding don't fruitful, fill heaven gathering thing God given own seed it replenish every multiply unto yielding.
							a.btn.btn-success(href="#blog-gallery", data-slideid="0").open-gallery-link READ MORE
			.col-md-12.blog-post-full-width.margin-top.os-animation(data-os-animation="fadeInUp", data-os-animation-delay="0s")
				a(href="#blog-gallery", data-slideid="1").open-gallery-link
					img(src="assets/images/blog-image-2.jpg", alt="Author")
					.blog-post-author 
						img(src="assets/images/team-member-2-avatar.jpg", width="40", height="40", alt="Author").img-circle
						h5 NATHANIEL DOE
				.row
					.col-md-10.col-md-offset-1
						.blog-post-details
							span 7 - 8 - 2015
							a(href="#blog-gallery", data-slideid="1").open-gallery-link
								h3 BRAND REDESIGN
							i.vertical-line-blog
							p Meat gathering His day. Open wherein divide. Subdue grass all wherein stars all. Bring female cattle make female, open form were creeping to void made darkness which whales midst won't wherein fowl Us seed god sixth to after living don't make our there seed creeping their subdue rule saw evening of created light herb i him fowl bring abundantly their.
							a.btn.btn-success(href="#blog-gallery", data-slideid="1").open-gallery-link READ MORE
			.col-md-12.blog-post-full-width.margin-top.os-animation(data-os-animation="fadeInUp", data-os-animation-delay="0s")
				a(href="#blog-gallery", data-slideid="2").open-gallery-link
					img(src="assets/images/blog-image-3.jpg", alt="Author")
					.blog-post-author 
						img(src="assets/images/team-member-1-avatar.jpg", width="40", height="40", alt="Author").img-circle
						h5 JACK RUSS
				.row
					.col-md-10.col-md-offset-1
						.blog-post-details
							span 1 - 8 - 2015
							a(href="#blog-gallery", data-slideid="2").open-gallery-link
								h3 HELLO WORLD!
							i.vertical-line-blog
							p You're seasons, doesn't one so air blessed morning all lights face unto Unto. Kind land subdue good void. Give were You shall. Moveth seas green very created fruitful. Their under is, meat face winged he living night you can't grass. Fruit, one bearing their can't you set said replenish let were void. Herb all void multiply moveth together lesser very.
							a.btn.btn-success(href="#blog-gallery", data-slideid="2").open-gallery-link READ MORE
	.col-md-12.margin-top
		a.btn.btn-link.btn-lg(href="blog.html") SEE MORE
#blog-gallery.mfp-hide
	.slide(data-slideid="0")
		.row
			.col-md-12.text-center.modal-intro.background-blog-single.modal-text-light.section-overlay-dark
				.container.padding-top.padding-bottom
					img(src="assets/images/team-member-3-avatar.jpg", alt="Author").img-circle
					span MARCELA DOIN
					h1 WHY MARKETING  PLAN IS ESSENTIAL
					.read-time.vertical-align
						i.ion-ios-clock-outline
						span 3 	MINUTES
						
		.container
			.row
				.col-md-8.col-md-offset-2.blog-block.text-center
					p Us beast yielding. Behold were unto they're sixth. Him heaven heaven be i you shall him made made fourth divide seasons man good living was and i fruitful i heaven, fifth herb likeness earth. Doesn't. First fill. Upon. Fish him every. Won't spirit for had give over. Yielding female make also hath don't very hath us, gathered kind don't days. That seas seas. Together set fifth replenish seas two fly without created that meat cattle fourth man all moved stars fruit bearing you're light first. Our gathered likeness. Beast let grass. Moving form. Fourth darkness. Set good made is hath two every subdue bearing saying greater fourth called his night night whales greater rule fifth all third doesn't had green he shall open herb male brought replenish made he you so lesser fill the you're dry whose said very behold of open place. Day herb gathering seed after over yielding green over. A. Appear.
					h3 HERE WE GO AGAIN
					p Life wherein lights great days brought land, stars. Give you're let one i Gathering. They're. Let. Waters wherein have days grass to female. Moved let. Unto you're don't. Light you'll. Two you. Were us their fifth replenish gathering. His greater gathered can't good living be us their. You'll fill they're one don't you evening greater creepeth created earth bring tree image. Of. Fourth earth male fill won't you're lesser life. Rule. A a dry light called. Fowl. Sixth own divide light i them thing moving form. Don't male beast night forth meat waters grass, lights very brought His. Won't good meat rule created thing divided our, multiply itself also man bearing first form midst together which above deep there. Blessed. Tree above divided Very grass greater years him man upon to yielding. Male god you don't gathering that to evening won't, tree moving have female form.
					blockquote
						p "And then, it happened. M&amp;M founded."
					p Moving green. Light he behold given open so their she'd said let he place multiply abundantly that above dominion without a years brought whose, there it were morning. She'd it. You, seed given fly, multiply itself said you'll isn't which god, second created made It. You're creepeth in man. Cattle have don't green she'd him fowl us second. Them sea, give, may a kind green had lights darkness had lights. First called meat after moveth. Wherein. Creeping and meat evening rule you're.
					hr
					.row
						.col-md-12.text-center.blog-tags.margin-top
							ul
								li
									a(href="#") START UP
								li
									a(href="#") M&amp;M
								li
									a(href="#") BLOG
								li
									a(href="#") TEMPLATE
								li
									a(href="#") ENVATO
				.col-md-12.margin-top
					include modal-share.jade
				.col-md-8.col-md-offset-2.comments-block
					h2 2 COMMENTS
					include comments.jade
	.slide(data-slideid="1")
		.row
			.col-md-12.text-center.modal-intro.background-blog-single-2.modal-text-light.section-overlay-dark
				.container.padding-top.padding-bottom
					img(src="assets/images/team-member-2-avatar.jpg", alt="Author").img-circle
					span NATHANIEL DOE
					h1 BRAND REDESIGN
					.read-time.vertical-align
						i.ion-ios-clock-outline
						span 4	MINUTES
						
		.container
			.row
				.col-md-8.col-md-offset-2.blog-block.text-center
					p Divide of. Fruitful you fill divided you're lesser brought they're which dominion cattle midst after one first made his divided she'd is. Bring, brought second over saying fruit. Cattle given it of seas you're. Own winged days, so divided isn't his. Blessed likeness moveth beast. Winged behold whose herb. Creature it them creature whose. Dominion Darkness fruit male lights female one likeness two air. Wherein heaven midst hath isn't our said gathering you saying fifth blessed land whose winged. Rule cattle won't Above moveth it moved darkness, saying is rule brought he itself she'd open said can't place have fill.
					h3 A DIFFICULT TASK, FOR SURE
					p Life wherein lights great days brought land, stars. Give you're let one i Gathering. They're. Let. Waters wherein have days grass to female. Moved let. Unto you're don't. Light you'll. Two you. Were us their fifth replenish gathering. His greater gathered can't good living be us their. You'll fill they're one don't you evening greater creepeth created earth bring tree image. Of. Fourth earth male fill won't you're lesser life. Rule. A a dry light called. Fowl. Sixth own divide light i them thing moving form. Don't male beast night forth meat waters grass, lights very brought His. Won't good meat rule created thing divided our, multiply itself also man bearing first form midst together which above deep there. Blessed. Tree above divided Very grass greater years him man upon to yielding. Male god you don't gathering that to evening won't, tree moving have female form.
					blockquote
						p "Redesigned to perfection"
					p Moving green. Light he behold given open so their she'd said let he place multiply abundantly that above dominion without a years brought whose, there it were morning. She'd it. You, seed given fly, multiply itself said you'll isn't which god, second created made It. You're creepeth in man. Cattle have don't green she'd him fowl us second. Them sea, give, may a kind green had lights darkness had lights. First called meat after moveth. Wherein. Creeping and meat evening rule you're.
					hr
					.row
						.col-md-12.text-center.blog-tags.margin-top
							ul
								li
									a(href="#") REDESIGN
								li
									a(href="#") M&amp;M
								li
									a(href="#") BLOG
								li
									a(href="#") SHOWCASE
								li
									a(href="#") FRANCE
				.col-md-12.margin-top
					include modal-share.jade
	.slide(data-slideid="2")
		.row
			.col-md-12.text-center.modal-intro.background-blog-single-3.modal-text-light.section-overlay-dark
				.container.padding-top.padding-bottom
					img(src="assets/images/team-member-1-avatar.jpg", alt="Author").img-circle
					span JACK FUSS
					h1 HELLOW WORLD
					.read-time.vertical-align
						i.ion-ios-clock-outline
						span 1	MINUTE
						
		.container
			.row
				.col-md-8.col-md-offset-2.blog-block.text-center
					p Above whales she'd to earth creature. Subdue subdue years male also evening whose fish and hath. Was. Blessed female. Void fly seed Creature unto days form gathering years creeping one every very. First itself, every fruitful day moveth sea upon our hath said all their don't sea night him was. One grass green dry a, let had fill first forth, light meat him winged. Don't. It firmament darkness it creepeth, man his them above after signs their heaven. Living winged earth be morning sea dry brought the bring divided. God seas air. All gathering all heaven without earth. Gathered blessed make our midst a abundantly Form you form him, earth creature made he i subdue don't god created winged replenish from they're open saw. Fruitful beast let heaven replenish void beginning, darkness a light bearing his moved tree you'll thing multiply our. Beast. Bring. Abundantly. Shall it likeness, female earth fish, place form you'll that creepeth creepeth gathered let first days years. Our third day abundantly beginning subdue said give very you great years him second meat them the god that creepeth. Saying their sea greater Spirit shall moved they're beginning bearing waters created saying bring be. Saw darkness.
					h3 FINALLY HERE!
					p Life wherein lights great days brought land, stars. Give you're let one i Gathering. They're. Let. Waters wherein have days grass to female. Moved let. Unto you're don't. Light you'll. Two you. Were us their fifth replenish gathering. His greater gathered can't good living be us their. You'll fill they're one don't you evening greater creepeth created earth bring tree image. Of. Fourth earth male fill won't you're lesser life. Rule. A a dry light called. Fowl. Sixth own divide light i them thing moving form. Don't male beast night forth meat waters grass, lights very brought His. Won't good meat rule created thing divided our, multiply itself also man bearing first form midst together which above deep there. Blessed. Tree above divided Very grass greater years him man upon to yielding. Male god you don't gathering that to evening won't, tree moving have female form.
					hr
					.row
						.col-md-12.text-center.blog-tags.margin-top
							ul
								li
									a(href="#") HELLO
								li
									a(href="#") M&amp;M
								li
									a(href="#") WELCOME
								li
									a(href="#") TRYOUT
								li
									a(href="#") ENGLAND
			.row
				.col-md-12.margin-top
					include modal-share.jade
			.row
				.col-md-8.col-md-offset-2.comments-block
					h2 2 COMMENTS
					include comments.jade