//-  Sidebar
.col-md-12.blog-siderbar
	.search
		form
			input(type="text", placeholder="Search")
			button(type="submit").btn.btn-success GO
			i.ion-ios-search
	.text-widget
		h3 ABOUT M&amp;M
		p A passionate group of designers, developers and thinkers. We are located in <strong>New York</strong> and we are constantly trying to make web a better thing. We also trying to delight you with our designs.
	.widget
		h3 CATEGORIES
		ul.categories-widget
			li
				a(href="#")
					i.ion-ios-folder 
					| POSTS
			li
				a(href="#")
					i.ion-ios-folder 
					| STORIES
			li
				a(href="#")
					i.ion-ios-folder 
					| CASE STUDIES
			li
				a(href="#")
					i.ion-ios-folder 
					| M&amp;M
	.widget
		h3 LATEST POSTS
		.media
			a(href="#")
				span WHY MARKETING IS ESSENTIAL
			p Let fly dominion greater. You tree him rule him dry. A greater. You tree him rule et fly dominion greater.
		hr
		.media
			a(href="#")
				span BRAND REDESIGN
			p You tree him rule him dry. Another great post about it. Yet fly dominion greater. You tree him rule him dry.
		hr
		.media
			a(href="#")
				span HELLO WORLD!
			p A greater. You tree him rule et fly dominion greater. You tree him rule him dry. Him dry. No you can't see him now.
	.widget
		h3 TAGS
		.tags-widget
			.button-tag
				a(href="#") FEATURED
			.button-tag
				a(href="#") M&amp;M
			.button-tag
				a(href="#") ENVATO
			.button-tag
				a(href="#") MINIMALISM
			.button-tag
				a(href="#") SUNRISE
			.button-tag
				a(href="#") START UP
			.button-tag
				a(href="#") POST
			.button-tag
				a(href="#") ONE PAGE
			.button-tag
				a(href="#") SHOWCASE
	.gallery-widget
		h3 GALLERY WIDGET
		ul.gallery.clearfix
			li
				figure
					a(href="assets/images/gallery-widget-1.jpg").magnific
						img(src="assets/images/gallery-widget-1.jpg", alt="Gallery Image")
						div
							i.ion-ios-glasses
			li
				figure
					a(href="assets/images/gallery-widget-2.jpg").magnific
						img(src="assets/images/gallery-widget-2.jpg", alt="Gallery Image")
						div
							i.ion-ios-glasses
			li
				figure
					a(href="assets/images/gallery-widget-3.jpg").magnific
						img(src="assets/images/gallery-widget-3.jpg", alt="Gallery Image")
						div
							i.ion-ios-glasses
			li
				figure
					a(href="assets/images/gallery-widget-4.jpg").magnific
						img(src="assets/images/gallery-widget-4.jpg", alt="Gallery Image")
						div
							i.ion-ios-glasses
			li
				figure			
					a(href="assets/images/gallery-widget-5.jpg").magnific
						img(src="assets/images/gallery-widget-5.jpg", alt="Gallery Image")
						div
							i.ion-ios-glasses
			li
				figure
					a(href="assets/images/gallery-widget-6.jpg").magnific
						img(src="assets/images/gallery-widget-6.jpg", alt="Gallery Image")
						div
							i.ion-ios-glasses