//- Side Image
.row
	.col-md-6.background-side-image.side-image.section-overlay-dark.text-center(data-stellar-background-ratio="0.5")
		img(src="assets/images/work/logo1-light.png", alt="Logo", width="290")
	.col-md-6
		.side-image-content
			span M&amp;M
			h3 A CREATIVE, AMAZING &amp; MINIMAL AGENCY
			p Life first Day day wherein fruit i whose a living living from tree days upon called first one fish is good said and spirit void upon abundantly life bring behold. He be. Tree had and heaven i, their greater shall be. Divide moving fifth image. He one he gathering stars i tree winged there shall. Their second sixth form every. God night the likeness was man, all first fourth deep.
			a(href="#team").btn.btn-link MEET OUR TEAM