//- Slider Splash
.owl-carousel#head_panel_slider
	.item.full-height-border.vertical-middle.text-center.section-overlay-dark.background-slide-6.container
		.inner.animated.fadeIn.minimal-white.with-cross.row
			.col-md-12
				.row
					.col-md-12
						i
						h2 M&amp;M SHOWCASE
						.row
							.col-md-4.col-md-offset-4
								p Huge variety of services and offers. Check out our portfolio, and make sure to reach out to us for any questions.
								a(href="#works").btn.btn-success.animated.fadeInUp PORTFOLIO
	.item.full-height-border.vertical-middle.text-center.section-overlay-dark.background-slide-7.container
		.inner.animated.fadeIn.minimal-white.with-cross.row
			.col-md-12
				.row
					.col-md-12
						i
						h2 EXPERT TEAM
						.row
							.col-md-4.col-md-offset-4
								p Expert people, with years of experience, are ready to listen to your story. Ready to setup a plan which will fit your needs. 
								a(href="#team").btn.btn-success.animated.fadeInUp TEAM