//- Slider Splash
.owl-carousel#head_panel_slider
	.item.full-height-hamburger-menu.vertical-middle.text-center.section-overlay-dark.background-slide-4
		.inner.block-white
			i.animated.fadeInDown
			h2.animated.fadeIn CREATIVE PORTRAITS
			i.animated.fadeInUp
			span.animated.fadeIn M&amp;M EXCLUSIVE COLLECTION
	.item.full-height-hamburger-menu.vertical-middle.text-center.section-overlay-dark.background-slide-5
		.inner.block-white
			i.animated.fadeInDown
			h2.animated.fadeIn WEB DESIGN AGENCY
			i.animated.fadeInUp
			span.animated.fadeIn BRAND AND WEBSITE REDESIGN