//- Slider Splash
.owl-carousel#head_panel_slider
	.item.full-height.vertical-middle.text-center.section-overlay-dark.background-slide-1
		.inner.animated.fadeIn.minimal-white.with-cross
			i
			h2 MINIMAL &amp; MODERN
			span.animated.fadeInUp DESIGN FIRM
	.item.full-height.vertical-middle.text-center.section-overlay-dark.background-slide-2
		.inner.animated.fadeIn.minimal-white.with-cross
			i
			h2 DETAILS MATTER
			span.animated.fadeInUp BRANDING EXPERTS