//- Video Splash
.video#player.background-grid
	iframe.video#player( src="https://player.vimeo.com/video/137227332?byline=0&amp;portrait=0&amp;color=3a6774&amp;autoplay=1&amp;loop=1", webkitallowfullscreen, mozallowfullscreen, allowfullscreen, frameborder="0", height="100%", width="100%", muted="muted")
.container.text-center.video-caption
	.os-animation(data-os-animation="fadeIn", data-os-animation-delay="0s")
		h2  M&amp;M AGENCY
		span  CREATIVE DESIGN FIRM
		i
		a.btn.btn-link(href="#about").os-animation(data-os-animation="fadeInUp", data-os-animation-delay=".3s")  ABOUT US
.mouse-icon
	a(href="#about")
		i.ion-ios-arrow-down