//- Video Intro
.video-intro.section.section-short.section-dark
	i(data-os-animation="video-line", data-os-animation-delay="0s").os-animation
	a.popup-youtube(href="http://www.youtube.com/watch?v=0O2aH4XLbto")
		img(src="assets/images/video-image.jpg", alt="Video Image")
		span