<!DOCTYPE html>
html(lang="en")
	head
		include templates/head.jade
	body
		div.body-border
			include templates/navigation-blog.jade
			include templates/fixed-navigation-blog.jade
			include templates/go-top-btn.jade
			include templates/blog-single-post.jade
			footer.footer-dark
				include templates/footer.jade
			include templates/scripts.jade
