/* COMPONETS */
/* ===================================== */

/* - Logo - */

.logo {
	width: 100px;
	z-index:99;
	cursor: pointer;
	margin-top: 10px;
}

/* - Splash headers - */

.full-height {
	//Firefox
	height: -moz-calc(100vh - 250px);
	//WebKit
	height: -webkit-calc(100vh - 250px);
	//Standard
	height: calc(100vh - 250px);
	width: 100%;
	position: relative;
	display: block;
	top: 0;
	left: 0;
	z-index: 9;
}

@media screen and (max-width:768px) {
	.full-height {
		//Firefox
		height: -moz-calc(100vh - 150px);
		//WebKit
		height: -webkit-calc(100vh - 150px);
		//Standard
		height: calc(100vh - 150px);
		width: 100%;
		position: relative;
		display: block;
		top: 0;
		left: 0;
	} 
} 

// Hamburger menu demo

.full-height-hamburger-menu {
	//Firefox
	height: -moz-calc(100vh - 110px);
	//WebKit
	height: -webkit-calc(100vh - 110px);
	//Standard
	height: calc(100vh - 110px);
	width: 100%;
	position: relative;
	display: block;
	top: 0;
	left: 0;
	z-index: 9;
}

@media screen and (max-width:768px) {
	.full-height-hamburger-menu {
		//Firefox
		height: -moz-calc(100vh - 110px);
		//WebKit
		height: -webkit-calc(100vh - 110px);
		//Standard
		height: calc(100vh - 110px);
		width: 100%;
		position: relative;
		display: block;
		top: 0;
		left: 0;
	} 
} 

// Border demo

.full-height-border {
	//Firefox
	height: -moz-calc(100vh - 270px);
	//WebKit
	height: -webkit-calc(100vh - 270px);
	//Standard
	height: calc(100vh - 270px);
	width: 100%;
	position: relative;
	display: block;
	top: 0;
	left: 0;
	z-index: 9;
}

@media screen and (max-width:768px) {
	.full-height-border {
		//Firefox
		height: -moz-calc(100vh - 170px);
		//WebKit
		height: -webkit-calc(100vh - 170px);
		//Standard
		height: calc(100vh - 170px);
		width: 100%;
		position: relative;
		display: block;
		top: 0;
		left: 0;
	} 
} 

// Video demo

.full-height-video {
	//Firefox
	height: -moz-calc(100vh - 0px);
	//WebKit
	height: -webkit-calc(100vh - 0px);
	//Standard
	height: calc(100vh - 0px);
	width: 100%;
	position: relative;
	display: block;
	top: 0;
	left: 0;
	z-index: 9;
}

@media screen and (max-width:768px) {
	.full-height-video {
		//Firefox
		height: -moz-calc(100vh - 50px);
		//WebKit
		height: -webkit-calc(100vh - 50px);
		//Standard
		height: calc(100vh - 50px);
		width: 100%;
		position: relative;
		display: block;
		top: 0;
		left: 0;
	} 
} 

@media (max-width: 991px) {
	.splash-image {
		display: none !important
	}
	.splash-text-block {
		padding-top: 0 !important
	}
}

/* - Border - */

body {
	animation: fadeIn 1s;
	-webkit-animation: fadeIn 1s;
}

div.body-border {
	border: $body-border-width solid $body-border-color;
	&.no-top {
		border-top: 0px !important;
	}
}

.border {
	border:solid 1px rgba($color-dark, 0.8);
	padding: 30px 90px;
	display: inline-block;
	z-index: 99999 !important;
	position: relative;
	width: 100%;
}

.section-border {
	border:solid 1px rgba($color-dark, 0.8);
	padding: 30px 90px;
	display: inline-block;
	min-width:550px;
	z-index: 99999 !important;
	position: relative;
}

@media (max-width:600px) {
	.section-border {
		padding: 30px 0px;
		min-width:0px;
		width: 100%;
	}
}

.btn {
	@include border-radius(0px);
}

/* - Sections - */

/* - General Section Classes - */
.section {
	position: relative;
	padding: $section-padding;
		&.section-dark{
			background-color: $color-light;
			color: $color-dark!important;
		}
		&.section-light {
			background-color: $color-light;
			color: $color-dark !important;
		}
		&.section-black {
			background-color: $color-dark;
			color: $color-lighter !important;
			a:not(.btn) {
				color: $color-lighter !important;
				&:hover {
					color: $color-primary !important
				}
			}
		}
}

/* -- Section Decorations -- */

[class*="decor-"] {
	position: absolute;
	width: 100%;
	height: 60px;
	left: 0;
		svg {
			height: 101%; // fix rendering in ie and firefox
		}
}

.decor-top {
	bottom: 100%;
}

.decor-bottom {
	top: 100%;
}

.decor {
	display: block;
	position: relative;
	margin: 0 auto;
}

/* - Sections height - */

.section-short {
	padding: 60px 0;
}

.section-tiny {
	padding: 24px 0;
}

.section-nopadding {
	padding: 0 !important;
}

.section-nopadding-bottom {
	padding-bottom: 0 !important;
}

/* - Full height Sections - */

.section-fullheight {
	min-height: 100vh;
}

// Vertical allignment rows

@media (min-width: 1400px) {
	.section {
		padding: 120px 0;
	}
	.section-short {
		padding: 72px 0;
	}
	.section-tiny {
		padding: 24px 0;
	}
}

@media (max-width: 767px) {
	.section {
		padding: 60px 0;
	}
	.section-short {
		padding: 48px 0;
	}
	.section-tiny {
		padding: 24px 0;
	}
	[class*="decor-"] {
		height: 36px;
	}
	.container {
		padding: 0 20px;
	}
	.section .section .container {
		padding: 0;
		width: auto;
	}
}

// Section Heading 

.section-head {
	margin-bottom: 48px;
}

.section-head h2 {
	font-weight: 900;
	@extend .bigger;
	margin-bottom: 10px;
	margin-top: 5px;
}

.section-head span {
	font-weight: 600;
	font-size: 12px;
	z-index: 99;
	position: relative;
}

.section-head span:before,
.section-head span:after {
	content:'';
	width: 30px;
	height: 1px;
	background-color: $color-dark;
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
}

.section-black .section-head span:before,
.section-black .section-head span:after {
	content:'';
	width: 30px;
	height: 1px;
	background-color: $color-light;
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
}

.section-head p {
	font-size: 16px;
}

/* - About Section - */

.about-content h3 {
	@extend .black;
	text-align: left;
}

.about-content p {
	text-align: justify;
	margin-bottom: 24px;
}

.about-content img {
	@media (max-width: $col-md) {
		width: 100%;
	}
}

/* - Splash - */

//Slider

// Minimal Captions

#head_panel_slider .inner.minimal-white {
	color: #fff;
	position: relative;
	z-index: 999;
}

#head_panel_slider .inner.minimal-dark {
	color: #000;
	position: relative;
	z-index: 999;
}

#head_panel_slider .inner.minimal-white h2,
#head_panel_slider .inner.minimal-dark h2 {
	@extend .hyper;
	@extend .black;
	margin-bottom: 24px;
	margin-top: 24px;
}

#head_panel_slider .inner.minimal-white span,
#head_panel_slider .inner.minimal-dark span{
	@extend .title-space;
	@extend .hairline;
}

#head_panel_slider .inner.minimal-white.with-cross i,
#head_panel_slider .inner.minimal-dark.with-cross i  {
	background-image: url(../images/divider-cross-white.png);
	display: block;
	position: relative;
	width: 10px;
	height: 10px;
	margin: 0 auto;
}

#head_panel_slider .inner.minimal-white.with-line i:before,
#head_panel_slider .inner.minimal-dark.with-line i:before  {
	content:'';
	display: block;
	width: 1px;
	height: 40px;
	background-color: #ccc;
	margin: 0px auto !important;
	z-index: 99;
	opacity: .2;
}

#head_panel_slider .inner.minimal-white a,
#head_panel_slider .inner.minimal-dark a{
	margin-top: 24px;
}

// Block Captions

#head_panel_slider .inner.block-white {
	color: #fff !important;
	position: relative;
	z-index: 9999;
}

#head_panel_slider .inner.block-dark {
	color: #000;
	position: relative;
	z-index: 999;
}

#head_panel_slider .inner.block-white h2,
#head_panel_slider .inner.block-white span {
	color: #fff;
}

#head_panel_slider .inner.block-dark h2,
#head_panel_slider .inner.block-dark span {
	color: #000;
}

#head_panel_slider .inner.block-white h2,
#head_panel_slider .inner.block-dark h2 {
	@extend .hyper;
	@extend .black;
	margin-bottom: 24px;
	margin-top: 24px;
}

#head_panel_slider .inner.block-white span,
#head_panel_slider .inner.block-dark span{
	@extend .title-space;
	@extend .hairline;
	margin-top: 24px;
}

#head_panel_slider .inner.block-white i,
#head_panel_slider .inner.block-dark i  {
	display: block;
	position: relative;
	width: 100%;
	max-width: 991px;
	height: 10px;
	margin: 0 auto;
	background-color: #fff;
	z-index: 9999999999999 !important;
}

/* - Icon Block - */

.icon-block {
	cursor: default;
	&.icon-block-white {
		color:$text-color;
	}
	&.icon-block-dark {
		color:$color-dark;
	}
}

.icon-block  h3{
	@extend .big;
	@extend .black;
	margin-bottom: 24px;
	margin-top: 24px;
}

.icon-block  h4{
	@extend .black;
	margin-bottom: 24px;
	margin-top: 24px;
}

.icon-block p {
	opacity: .7;
	margin: 0 auto;
	text-align: justify;
	max-width: 90%;
}

.icon-block i {
	opacity: 1;
	font-size: 65px;
	line-height: 0;
	@include transition(.2s);
}

.icon-block:hover i {
	opacity: 1;
	color: $color-primary !important;
}

.icon-block:after {
	content:'';
	display: block;
	width: 30px;
	height: 1px;
	background-color: $color-dark;
	position: relative;
	margin: 24px auto !important;
	opacity: .1;
}

/* - Video Intro - */

.video-intro,
a.popup-youtube {
	position: relative;
}

$video-line-height: 190px;

.video-intro i {
	display: block;
	width: 1px;
	height: $video-line-height;
	background-color: #ccc;
	position: absolute;
	left:0;
	right:0;
	top: -70px;
	margin: 24px auto !important;
	z-index: 99;
}

.video-intro a span:after {
	content:'\f488';
	font-family: "Ionicons";
	position: absolute;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	color:white;
	font-size: 50px;
	z-index: 99;
}

/* - Team Member Quote - */

.absolute-top-content {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: -120px;
	padding-bottom: 24px;
}


.team-intro span:before {
	content:'';
	display: block;
	width: 1px;
	height: 120px;
	background-color: $color-dark;
	margin: 0px auto 48px auto;
	opacity: .3;
	z-index: 9;
}

.team-member-quote-intro span {
	@extend .title-space;
	color: $color-dark;
}

$team-quote-line-height: 100px;

.team-member-quote-intro i {
	display: block;
	width: 1px;
	height: $team-quote-line-height;
	background-color: #ccc;
	margin: 24px auto !important;
	z-index: 999;
}

.team-member-quote-intro h3 {
	@extend .black;
	@extend .big;
	margin-top: 10px;
	color: $color-dark;
}

.team-member-quote p {
	margin-top: 24px;
	font-size: 16px;
	line-height: 28px;
}

.team-member-quote i {
	display: block;
	width: 1px;
	height: 20px;
	background-color: #ccc;
	margin: 24px auto !important;
	z-index: 99;
	opacity: .2;
}

.team-member-quote span {
	font-size: 12px;
	small {
		display: block;
		opacity: .7;
	}
}

/* - Team -  */

.team-intro h3 {
	@extend .big;
	@extend .black;
}

.team-intro p {
	opacity: .8;
	margin-top: 24px;
	text-align: justify;
}

.team-single-member span {
	@extend .title-space;
	font-size: 10px !important;
}

.team-single-member a{
	display: inline-block;
}

.team-single-member h3{
	@extend .black
}

.team-single-member a.open-gallery-link {
	background-color: $color-primary;
}

.team-single-member .team-single-member-details a.open-gallery-link {
	background-color: transparent;
}

.team-single-member img {
	@include transition(.2s);
}

.team-single-member img:hover {
	opacity: .8;
	background-color: $color-primary;
}

.team-single-member a i{
	margin: 10px 7px 0px 7px;
	display: block;
	font-size: 20px;
	z-index: 9;
}

.team-single-member i.divider-cross-black {
	margin-top: 14px;
	opacity: .8;
}

.team-single-member p {
	font-size: 14px;
	margin-top: 10px;
	opacity: .7;
}

.team-single-member-details {
	position: relative;
	background-color: darken($color-light, .8%);
	padding: 24px;
	padding-bottom: 24px !important;
}

/* .team-single-member-details i:before {
	content:'';
	display: block;
	width: 1px;
	height: 20px;
	position: relative;
	background-color: #ccc;
	margin: 0px auto !important;
} */

.team-single-member-details a i:before{
	height: 0;
	background-color: none;
}

.team-single-member a img {
	width: 100% !important;
}

.team-single-member a.open-gallery-link {
	width: 100% !important;
}


/* - Featured List - */

.featured-list {
	list-style: none;
	margin-top: 30px;
	padding-left: 0 !important;
}

.featured-list li {
	margin-top:10px;
	font-size: 16px;
	padding-left: 5px;
	opacity: .8;
}

.featured-list li:before {
	content:'';
	display: inline-block;
	vertical-align: middle;
	width: 6px;
	height: 6px;
	margin-right: 5px;
	border:1px solid $color-primary;
	border-radius:50%;
}

/* - Blockquotes - */

blockquote {
	border:none;
	color:#fff;
}

blockquote p {
	font-size: 16px;
	line-height: 28px;
}
/* 
blockquote p:after {
	content:'';
	background-image: url(../images/divider-cross-white.png);
	display: block;
	position: relative;
	width: 10px;
	height: 10px;
	margin: 0 auto;
	opacity: .7;
	margin-top: 24px;
}
 */
blockquote cite {
	display: block;
	margin-top: 24px;
	margin-left: 5px;
	font-size: 12px;
	font-style: normal;
	text-transform: uppercase
}

blockquote cite span {
	display: block;
	margin-top: 10px;
}

blockquote cite span small{
	display: block;
	margin-top: 5px;
	font-style: italic;
	font-size: 10px;
}

.owl-carousel .owl-item blockquote cite img {
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

/* - Newsletter -  */

.newsletter-section span:before {
	content:'';
	display: block;
	width: 1px;
	height: 40px;
	background-color: #ccc;
	position: absolute;
	left:0;
	right:0;
	top: -40px;
	margin: 24px auto !important;
	z-index: 999;
}

.newsletter-content {
	padding-top: 48px;
}

.newsletter-content p:nth-child(2) {
	font-size: 12px;
	opacity: .7;
	font-style: italic;
}

.newsletter-content form {
	@extend .contact-form;
}

.newsletter-content form .contact-form-submit{
	margin-top: 20px !important;
	font-weight: normal !important;
}

/* - Video Homepage - */

.video { 
	overflow: hidden !important
}

.video iframe {
	position: absolute; 
	z-index: -1; 
	width: 110%;
	left:0px; 
	margin-left: -50px;
	top:0;
	overflow: hidden !important;
}

.video-caption div{
	position: relative;
	z-index: 999999 !important;
}

.video-caption h2 {
	@extend .black;
	@extend .hyper;
	color: $color-light;
}

.video-caption span{
	@extend .title-space;
	color: $color-light;
	opacity: .7;
	z-index: 99999;
	position: relative;
	margin-top: 10px;
}

.video-caption i{
	width: 1px;
	height: 30px;
	display: block;
	position: relative;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	margin-top: 24px;
	margin-bottom: 24px;
	opacity: .2;
}

.video-caption a {
	z-index: 999999;
	position: relative;
	color: $color-light !important;
	&:hover {
		color: $color-primary !important;
	}
}


/* 
.video .video-overlay{ 
	width:100%; 
	height:100%; 
	position:absolute;
	background:#171720; 
	opacity:0.95; 
	left:0; 
	top:0; 
	z-index:1;
}
 */

/* - Side Image - */

.banner {
	max-width: 100%;
}

.side-image {
	height: 550px;
	position: relative;
}

.side-image img {
	z-index: 999999;
	position: relative;
}

.side-image-content {
	padding: 65px 35px 35px 35px;
	h3 {
		@extend .black;
		margin-bottom: 24px;
	}
	p {
		opacity: .8;
		max-width: 900px;
		&:before {
			content: '';
			display: block;
			width: 50px;
			height: 1px;
			background-color: darken($color-light, 25%);
			margin-bottom: 24px;
		}
	}
	span {
		@extend .title-space
	}
	a {
		opacity: .8;
		margin-top: 5px;
	}
}

.side-image-title i{
	line-height: 56px;
	color:$color-primary;
	opacity: .7;
	padding: 1px !important;
	display: block !important
}

.side-image-content p {
	margin: 20px 0px;
	color:darken($text-dark, 15%);
	opacity:.8;
}

/* - Pagination - */

.pagination > li {
	@include border-radius(0px);
	margin-right: 5px !important;
	display: inline-block;
}

.pagination > li > a {
	background-color: $color-primary;
	border:0px;
	color: $color-light !important;
	text-decoration: none;
	cursor: pointer;
	font-weight: 500;
	@include border-radius(0px);
}

.pagination > li > a:hover {
	color: $color-primary !important;
}

.pagination > li.pagination-btn a{
	background-color: transparent;
	color: $color-primary !important
}

/* - Banners - */

.banner {
	min-height:400px;
	max-width: 100% !important;
}

.banner h4 {
	margin-top: 15px;
}

/* - Paragraph with Note - */

.note-icon {
	padding-left: 48px;
	position: relative;
}

.note-icon i {
	position: absolute;
	left: 0;
	top: -20px
}

/* - Twitter Widget - */

.twitter-widget {
	min-height: 200px;
	height: auto;
}

.ion-social-twitter{
	z-index: 999;
	position: relative;
}

.twitter-widget-header {
	font-size: 30px
}

.twitter-widget .swiper-pagination  {
	padding-top: 200px !important;
}

.twitter-widget .tweet {
	color:$text-color-semi;
	padding: 50px 0 !important
}

.twitter-widget .tweet-footer {
	color:$text-color-semi;
	opacity:.8;
	display: block;
}

/* - Mouse Icon - */

.mouse-icon {
	position:absolute;
	bottom: 0;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 24px;
	z-index: 9999;
}

.mouse-icon object{
	cursor: pointer;
	animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
}

.mouse-icon a {
	font-size: 30px;
	color: $color-light !important;

}

/* - Figure Team Members - */

.team-member-title {
	display: block;
	font-weight: 900 !important
}

/* - Parallax Home Page - */

.parallax-image {
	z-index:9;
}

@media (max-width:768px) {
	.parallax-image {
		position: absolute !important;
		left: 0px !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.small-parallax-image-hidden {
		display: none !important;
	}
}

/* - Video Link - */

.video-link {
	border: 1.5px solid rgba(#fff,.3);;
	padding: 14px 48px;
}

.video-link i {
	font-size: 16px;
	color: #fff;
	margin-top: 5px
}

.video-link:before {
	width: 1.5px;
	height: 20px;
	background-color:#fff;
	position: relative;
	content:'';
}

.video-link-icon {
	content:'';
	display: inline-block;
	width: 1.5px;
	height: 70px;
	background-color: #fff;
	position: absolute;
	opacity:1;
	top: 25px;
	margin-left: 1px
}

/* - Breadcrumb - */

ul.breadcrumb {
	padding-left: 0 !important;
	list-style: none;
	background-color: transparent
}

ul.breadcrumb li {
	margin-right: 5px;
}

/* - Go Top - */

.go-top {
	position: fixed;
	right: 40px;
	bottom: 20px;
	color: $color-primary;
	width: 30px;
	height: 30px;
	opacity: 0;
	font-size: 30px;
	z-index: 9999 !important;
	cursor: pointer;
	@include transition(.2s);
	&.go-top.visible {
		opacity: 1;
		-webkit-animation: fadeIn 1s;
		animation:fadeIn 1s;
	}
	i {
		color: $color-primary;
	}
	@media (max-width: 680px) {
		position: fixed;
		right: 20px;
		bottom: 20px;
		color: $color-primary;
		width: 30px;
		height: 30px;
		opacity: 0;
		font-size: 30px;
		z-index: 9999 !important;
		cursor: pointer;
		@include transition(.2s);
	}
}

/* - Universal Fixes - */

*, *:before, *:after {
	box-sizing: border-box;
}

a i {
	z-index: 0 !important;
}