// Variables
// --------------------------------------------------

// General
//----------------------------------------------------
$border-radius-base: 0px !default;
$border-radius-large: 0px !default;
$border-radius-small: 0px !default;

// Section Padding 
$section-padding: 96px 0px;

// Typography
// ---------------------------------------------------
$font-size-base: 16px !default;
$line-height-base: 1.5 !default;

// Colors
// --------------------------------------------------
// General
$color-dark: #131313;
$color-light: #f9f9f9;
$color-lighter: #fdfdfd;
$color-primary: #2ecc71;
$border-gray: #e6e7e9;

//Body Border 
$body-border-width: 20px;
$body-border-color: $color-dark;

// Sections

// Sidebar
$sidebar-background: #131313;
$menu-toggle-color: #131313;
$menu-toggle-color-inverted: #fdfdfd;

// Navbar
$navbar-link-color: #000;
$navbar-link-color-hover: $color-primary;

$navbar-fixed-color: #fff;
$navbar-fixed-color-hover: $color-primary;

// Map
$background-map-label: rgba(23,23,32,.7);

// Pricing
$pricing-table-background: rgba(255,255,255,.4);

// Pace Loader
$loader: rgba(23,23,32,1);
$loader-bar: #e74c3c;
$loader-background: rgba(255,255,255,.1);

// Typography
$text-color: #fff;
$text-dark: #333333;
$text-color-semi: #756f6f;
$text-color-primary: #37dd7a;

//Owl Slider
$owl-theme-color: $color-primary;

// Header
// --------------------------------------------------
$navbar-height: 150px;
$navbar-scrolled: 70px;
$element-height: 24px;
$dropdown-width: 200px;

// Button Primary 
// ---------------------------------------------------
$primary-button-background: $color-primary;
$primary-button-text: $text-color;

// Grid Variables (Bootstrap mirroring)
// ---------------------------------------------------

$col-xs: 480px !default;
$col-sm: 768px !default;
$col-md: 992px !default;
$col-lg: 1200px !default;
